body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: roboto;
  font-size: 18px;
  background-image: url("/fundo2.jpg");
  background-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}


body .container {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
}


section {
  display: grid;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.788);
  color: whitesmoke;
  
}


body .container section {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.788);
  color: whitesmoke;
}

.card1{
  text-align: center;
  height: 100vh;
  width: 100vw;
  
}
.card1 .title{
  transition: 1s;
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 96px;
  text-align: left;
  padding-left: 130px;
  padding-top: 100px;
  margin: 0;
}

.card1 .sub-title{
  transition: 1s;
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 36px;
  text-align: left;
  padding-left: 653px;
  margin: 0;
}
.card1 img{
  transition: 200ms;
  filter: grayscale(0%);
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin: 74px;
}
.card1 img:hover{
  transition: 200ms;
  height: 330px;
  width: 300px;
  border-radius: 100px;  
}


.card2{ 
  height: 100vh;
  width: 100vw;
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;

  
}

img {
  filter: grayscale(100%);
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.grid {
  align-content: center;
  justify-content: center;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 50%);
}

@media (max-width: 1200px){
  .grid {
      align-content: center;
      justify-content: center;
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(1, 100%);
  }
}

.grid-figure1{
  text-align: right;
}
.grid-figure1 img{
      filter: grayscale(100%);
      height: 150px;
      width: 400px;
      object-fit: cover;
}

.grid-figure2{
  text-align: left;
}
.grid-figure2 img{
      filter: grayscale(100%);
      height: 150px;
      width: 400px;
      object-fit: cover;
}

.txt1 {
  text-align: left;
  margin: 0;
  font-family: roboto;
  font-style: normal;
  font-size: 28px;
  font-weight: 200;
}


.txt2 {
  text-align: right;
  margin: 0;
  font-family: roboto;
  font-style: normal;
  font-size: 28px;
  font-weight: 200;
}

.card3{
 display: block;
}

.card4{
  display: block;
}

.txt{
 text-align: left;
}

.txt h3 a{
  color: whitesmoke;
}
.txt h3 a:hover{
  transition: 100ms;
  color: rgb(68, 43, 209);
}
footer a{
  font-weight: 600;
  text-decoration: none;
  color: rgb(48, 48, 48);
  text-decoration: none;
  margin: 0;
}
footer a:hover{
  transition: 200ms;
  color: rgb(195, 195, 197);
}

a {
  text-decoration: none;
}

h1 {
  transition: 1s;
  font-family: Segoe UI;
  font-size: 70px;
}
h2 {
  transition: 0.5s;
  font-family: Segoe UI;
  font-size: 50px;
}

h3 {
  font-weight: 400;
  font-size: 35px;
}

h4{
  color: rgb(81, 46, 175);
  font-size: 20px;
}