body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: roboto;
  font-size: 18px;
  background: linear-gradient(to right top,#070707, rgb(28, 34, 59));
  background-size: 100%;
}


body .container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  display: grid;
}


section {
  display: grid;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  color: whitesmoke;
  
  
}

.card1{
  text-align: center;
  height: 100vh;
  width: 100vw;
  
}
.card1 .title{
  transition: 1s;
  font-weight: 700;
  font-size: 96px;
  text-align: left;
  padding-left: 7%;
  padding-top: 100px;
  margin: 0;
}

.card1 .sub-title{
  transition: 1s;
  font-weight: 400;
  font-size: 36px;
  text-align: left;
  padding-left: 30%;
  margin: 0;
}
.card1 img{
  transition: 200ms;
  filter: grayscale(0%);
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin: 74px;
}
.card1 img:hover{
  transition: 200ms;
  height: 330px;
  width: 300px;
  border-radius: 100px;  
}


.card2{ 
  height: 100vh;
  width: 100vw;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;

  
}

.grid {
  align-content: center;
  justify-content: center;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 50%);
}

@media (max-width: 600px){
  .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1, 100%);
  }

  .grid .grid-figure1 img{
    height: 0em;
    width: 10em;
    object-fit: cover;
  }

  .grid .grid-figure2 img{
    height: 0em;
    width: 10em;
    object-fit: cover;
}

  .card2{ 
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  
  .card3 h3{ 
    font-size: .7em;
   }

   .card3 h2{
    font-size: 1em;
   }

   .card4 h2{ 
    font-size: 1.2em;
   }

   .card4 h3{ 
    padding: 1em;
    font-size: 1em;
   }

   .card5 {
    padding: 1em;
   }

   .card5 h2{ 
    font-size: 1.2em;
   }
   .card5 h3{ 
    font-size: 1em;
   }

   .card6 h2{
    padding: 1em;
    font-size: 1.2em;
   }
   .card6 h3{
    padding: .5em;
    font-size: 1em;
    line-height: 2;
   }

   .card7 h2{
    padding: 1em;
    font-size: 1.5em;
    line-height: 2;
   }

   .card7 h3{
    padding: 1em;
    font-size: 1em;
    line-height: 2;
   }


  .grid .txt1 {
    text-align: left;
    font-style: normal;
    font-size: 1em;
  }

  .grid .txt2 {
    text-align: right;
    font-style: normal;
    font-size: 1em;
  }

  .card1 .title {
    font-size: 2em;
  }

  .card1 .sub-title {
    font-size: 1em;
  }

  .card1 img {
   margin-top: 5em;
    height: 200px;
    width: 200px;
  }

  .card1 img:hover {
    margin-top: 5em;
     height: 210px;
     width: 210px;
     border-radius: 50px;
   }

}


.grid-figure1{
  text-align: right;
}
.grid-figure1 img{
      filter: grayscale(100%);
      height: 150px;
      width: 400px;
      object-fit: cover;
}

.grid-figure2{
  text-align: left;
}
.grid-figure2 img{
      filter: grayscale(100%);
      height: 150px;
      width: 400px;
      object-fit: cover;
}

.txt1 {
  text-align: left;
  margin: 0;
  font-family: roboto;
  font-style: normal;
  font-size: 28px;
  font-weight: 200;
}


.txt2 {
  text-align: right;
  margin: 0;
  font-family: roboto;
  font-style: normal;
  font-size: 28px;
  font-weight: 200;
}

.txt{
 text-align: left;
}

.txt h3 a{
  color: whitesmoke;
}
.txt h3 a:hover{
  transition: 100ms;
  color: rgb(79, 150, 231);
}

footer a{
  font-weight: 600;
  color: rgb(102, 102, 102);
  text-decoration: none;
}

footer a:hover{
  transition: 200ms;
  color: rgb(218, 218, 218);
}

a {
  text-decoration: none;
}

h1 {
  transition: 1s;
  font-family: Segoe UI;
  font-size: 70px;
}
h2 {
  transition: 0.5s;
  font-family: Segoe UI;
  font-size: 50px;
}

h3 {
  font-weight: 400;
  font-size: 35px;
}

h4{
  font-size: 20px;
}